<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Listado de Clientes</h3>
    </div>
    <div class="panel-body">
    <table class="table" id="tabla">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Direccion</th>
                <th>Direccion Dacturacion</th>
                <th>Id</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td><a href="{{ path('cliente_show', { 'id': cliente.id }) }}">{{ cliente.nombre }}</a></td>
                <td>{{ cliente.apellidoPaterno }}</td>
                <td>{{ cliente.apellidoMaterno }}</td>
                <td>{{ cliente.direccion }}</td>
                <td>{{ cliente.direccionFacturacion }}</td>
                <td>{{ cliente.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cliente_show', { 'id': cliente.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cliente_edit', { 'id': cliente.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>