<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Vuelos disponibles</h3>
    </div>
    <div class="panel-body">
            <table class="table" id="tabla">
                <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Precio</th>
                    <th>Hora</th>
                    <th>Tipo</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for vuelo in vuelos %}
                    <tr>
                        <td><a href="{{ path('vuelo_show', { 'id': vuelo.idVuelo }) }}">{{ vuelo.fecha|date('Y-m-d') }}</a></td>
                        <td>{{ vuelo.precio }}</td>
                        <td>{% if vuelo.hora %}{{ vuelo.hora|date('H:i:s') }}{% endif %}</td>
                        <td>{{ vuelo.idTipo }}</td>
                        <td>{{ vuelo.origen }}</td>
                        <td>{{ vuelo.destino }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('vuelo_show', { 'id': vuelo.idVuelo }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('vuelo_edit', { 'id': vuelo.idVuelo }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
